circle {
    transform-box: fill-box; /* you need this for SVGs */
    transform-origin: center center;
    transform: scale(0.75);
    fill: red;
    opacity: 0;
}

text {
    font-size: 22px;
    font-family: Arial;
}

#tags > path {
    fill: grey;
    opacity: 0.75;
}

body {
    background-color: lightblue;
}

/*[id*='name'] {*/
/*    opacity: 0;*/
/*    overflow: visible;*/
/*}*/