html {
  font-size: 13px; /* Adjust the whole page's font size here */
}

body {
  background-image: url("./assets/bg.png");
  height: 100%
}

main {
  width: 70vw;
  margin: auto;
  background-color: rgb(221, 214, 214, 0.93);
}

@media (max-width: 1200px) {
  main {
    width: 80vw;
  }
}

@media (max-width: 650px) {
  main {
    width: 90vw;
  }
}